/.metadata/
Edunova06/.settings/org.eclipse.jdt.core.prefs
Edunova06/.classpath
Edunova06/.project
*.class
Edunova07/.settings/org.eclipse.jdt.core.prefs
Edunova07/.project
Edunova07/.classpath
Edunova08/.classpath
Edunova08/.project
Edunova08/.settings/org.eclipse.jdt.core.prefs
TaxiSluzba/.project
TaxiSluzba/.settings/org.eclipse.jdt.core.prefs
TaxiSluzba/.classpath
Edunova09/.classpath
Edunova09/.project
Edunova09/.settings/org.eclipse.core.resources.prefs
Edunova09/.settings/org.eclipse.jdt.core.prefs
Vjezba/.project
Vjezba/.classpath
Vjezba/.settings/org.eclipse.jdt.core.prefs
Edunova10/.classpath
Edunova10/.project
Edunova10/.settings/org.eclipse.jdt.core.prefs
Edunova10/.settings/org.eclipse.core.resources.prefs
